pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/doc/BogaczTutorialOnFreeEnergyPerception.pdf
.*.swp
figwheel_server.log
resources/public/js
out
/matclj
/matcljs
/scalclj
/scalcljs
