@import url("css/nv.d3.min.css");
@import url("http://fonts.googleapis.com/css?family=Pontano Sans");

text {
  font-family:"Pontano Sans";
}
.text {
  font-family:"Pontano Sans";
}
h1 {
  font-family:"Pontano Sans";
  font-size:180%;
  font-weight:normal;
  color:#D00000;
}
h2 {
  font-family:"Pontano Sans";
  font-size:150%;
  font-weight:normal;
  color:#D00000;
}
h3 {
  font-family:"Pontano Sans";
  font-size:120%;
  font-weight:normal;
  color:#E04040;
}
h4 {
  font-family:"Pontano Sans";
  font-size:100%;
  font-weight:normal;
  color:#E04040;
}
p {
  width:650px;
}
blockquote {
  width:500px;
}
.title {
  font-family:"Pontano Sans";
  font-size:150%;
  font-weight:normal;
  color:#D00000;
}
.subtitle {
  font-family:"Pontano Sans";
  font-size:100%;
  font-weight:normal;
  color:#0080D0;
}
.nontitle {
  font-family:"Pontano Sans";
  font-size:100%;
  font-weight:normal;
  color:#808080;
}
.normal-text {
  font-family:"Pontano Sans";
  font-size:100%;
  font-weight:normal;
  color:#000000;
}
/* centering and such requires voodoo. width is the key parameter with this scheme. */
.centerright {
    width: 122%;
    position: absolute;
    left: 0px;
    margin: auto;
    text-align: center;
}
form {
  font-family:"Pontano Sans";
  font-size:16px;
  font-weight:normal;
}
button {
  color:#a00000;
  background-color:#d0e8ff;
  border:2px solid #504060;
  display:inline-block;
  cursor:pointer;
  font-family:"Pontano Sans";
  font-size:15px;
  font-weight:normal;
  padding:1px 5px;
  text-decoration:none;
  border-radius:4px
}
button:hover {
  background-color:#ffd0d0;
}
button:active {
  position:relative;
  top:1px;
}
/* Remove gaps between columns in tables: */
table {
    border-collapse: collapse;
}
/* Use this to put a rule under a table row: */
/* If border-style is dotted or dashed in the third place (bottom), it's absent in Firefox if border-bottom is < 3px, but it looks ugly in other browsers if it's 3px */
tr.bottom-border td {
  padding:4px;
  border-bottom:1px solid black;
  border-color:#d0d0d0;
  /* border-style:none none dotted none; */
}
/* Or over a table row: */
/*
tr.top-border td {
  border-bottom:3px solid black;
  border-color:#a0a0e0;
  border-style:dashed none none none;
}
*/
hr.align-left {
  margin-left: 0px;
}

/* voodoo css based on http://stackoverflow.com/questions/27892806/css-styling-of-points-in-figure */
/* Explanation:
 * The lines have classes nv-series-0, nv-series-1, etc., depending on the sequence
 * in the chart data vector.
 * path.nv-point inside nv-series-0 inside chart-svg is a point that gets drawn.
 * opacity sets how visible it is.
 * Normally this inherits these properties from nv-series-0, which also contains 
 * the line.
 * So to show the points and not the lines, make sure that the points are visible,
 * but the line is not, but setting the points' opacity to 1 and the line's to 0.
 */
#chart-svg g.nv-series-0 path.nv-point
{
    fill-opacity: 1;
    stroke-opacity: 1;
}
/* Now being set using d3 in make-chart:
#chart-svg g.nv-series-0 path.nv-line
{
    stroke-opacity: 0;
}
*/
