@import url("nv.d3.min.css");
@import url("http://fonts.googleapis.com/css?family=Pontano Sans");

text {
  font-family:"Pontano Sans";
}
.text {
  font-family:"Pontano Sans";
}
h1 {
  font-family:"Pontano Sans";
  font-size:180%;
  font-weight:normal;
  color:#D00000;
}
h2 {
  font-family:"Pontano Sans";
  font-size:150%;
  font-weight:normal;
  color:#D00000;
}
h3 {
  font-family:"Pontano Sans";
  font-size:120%;
  font-weight:normal;
  color:#C04040;
}
.title {
  font-family:"Pontano Sans";
  font-size:150%;
  font-weight:normal;
  color:#D00000;
}
form {
  font-family:"Pontano Sans";
  font-size:16px;
  font-weight:normal;
}
button {
  color:#800000;
  background-color:#e0e0ff;
  border:2px solid #504060;
  display:inline-block;
  cursor:pointer;
  font-family:"Pontano Sans";
  font-size:14px;
  font-weight:bold;
  padding:1px 2px;
  text-decoration:none;
  border-radius:4px
}
button:hover {
  background-color:#ffd0d0;
}
button:active {
  position:relative;
  top:1px;
}
/* Remove gaps between columns in tables: */
table {
    border-collapse: collapse;
}
/* Use this to put a rule under a table row: */
tr.bottom-border td {
  border-bottom:1px solid black;
  border-color:#a0a0e0;
  border-style:none none dashed none;
}
/* Or over a table row: */
tr.top-border td {
  border-top: 1px solid black;
  border-color:#a0a0e0;
  border-style:dashed none none none;
}

/* voodoo css based on http://stackoverflow.com/questions/27892806/css-styling-of-points-in-figure */
/* Exlanation:
 * The lines have classes nv-series-0, nv-series-1, etc., depending on the sequence
 * in the chart data vector.
 * path.nv-point inside nv-series-0 inside chart-svg is a point that gets drawn.
 * opacity sets how visible it is.
 * Normally this inherits these properties from nv-series-0, which also contains 
 * the line.
 * So to show the points and not the lines, make sure that the points are visible,
 * but the line is not, but setting the points' opacity to 1 and the line's to 0.
 */
#chart-svg g.nv-series-0 path.nv-point
{
    fill-opacity: 1;
    stroke-opacity: 1;
}
/* Now being set using d3 in make-chart:
#chart-svg g.nv-series-0 path.nv-line
{
    stroke-opacity: 0;
}
*/
